
@{
    ViewBag.Title = "RedirectToMain";
}

<script type="text/javascript">
setTimeout(function() {
   window.location.href = "http://britanica-edu.org"
}, 10000);
 </script>

<p>You need to login via the BRITANICA website at <a href="http://britanica-edu.org">http://britanica-edu.org</a>. You'll be redirected there in 10 seconds. </p>

